.product-info-price>div>.old-price>span>.price-wrapper,
.product-item-details>div>.old-price>span>.price-wrapper{
	text-decoration: line-through;
}

.product-reviews-summary, .sku{
	display: none;
}

.child-categories{	
	list-style: none none;
	display: none;
}

.items:hover .child-categories, .items:focus .child-categories {
    display: block;
}